* {
    background-color: #02182b;
}



#image {
    display: none;
    position: absolute;
    max-width: 57%;
    top: 15%;
    left: 21rem;
    right: 30rem;
    border-radius: 3px;
    overflow-y: clip;
    animation: none}

#members{
    display: none;
    position: absolute;
    max-width: 50%;
    top: 10%;
    left: 21rem;
    right: 30rem;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
    overflow-y: clip;
    animation: none;}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20rem;}


.btn {
    color: black;
    background-color: #10FFB4;
    transition: .2s ease-in-out;
    border-left: 3px transparent solid;
    border-right: 3px transparent solid;
    width: 8rem;
    height: 3rem;
    font-weight: bold;
    font-family: "Baskerville Old Face";
    font-size: 1rem;
}

.btn:hover {
    color: #10FFB4;
    background-color: black;
    border-left: #10FFB4 3px solid;
    border-right: #10FFB4 3px solid;
}
